name: Build and Release

on:
  push:
    branches:
      - main

jobs:
  build:
    name: Build and Release
    runs-on: ubuntu-latest
    permissions:
      actions: write
      contents: write
      issues: write
      packages: write
      pages: write
      pull-requests: write
      id-token: write # to enable use of OIDC for npm provenance

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18.6.x'

      - name: Install dependencies
        run: npm ci

      - name: Build
        run: npm run build

      - name: Run semantic-release
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_PUBLISH_TOKEN }}
          GH_USER: ${{vars.GH_USER}}
          GH_EMAIL: ${{vars.GH_EMAIL}}
        run: npx semantic-release
